.App {
  text-align: center;
  font-family: 'Racing Sans One', cursive;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('./assets/anime.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1;
  position: relative;
}

.info {
  width: 400px;
  height: 400px;
  position: absolute;
  width: 32%;
  height: 40%;
  top: 4%;
  left: 7%;
}

.shuriken {
  width: 400px;
  height: 400px;
  opacity: .75;
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url('./assets/shuriken.png');
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.text {
  position: absolute;
  top: 60px;
  left: 125px;
}

.info h3 {
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.info p {
  font-size: 35px;
  margin: 10px;
}

.overlay {
  height: 0px;
  overflow: visible;
  pointer-events: none;
  background: none !important;
}

.App-link {
  color: #09d3ac;
}

a:link {
  color: #ffa500;
  text-decoration: none;
}

a:visited {
  color: #ffa500;
  text-decoration: none;
}

a:hover {
  color: #ffa500;
  text-decoration: none;
}

a:active {
  color: #ffa500;
  text-decoration: none;
}